.DS_Store
node_modules
**/conf.yaml
**/conf.*.yaml
**/secrets.yaml
**/secrets.*.yaml
**/conf
docker/abi
**/context
**/.env
dist
**/data
release
release-notes.md
prisma/client
docker/data
docker/pgadmin
.clinic
node_trace.*
internal/bin
bin
**/conf.*.private
.idea
/demo.go
