system:
  log: info
  name: <name>

network:
  bind: 127.0.0.1:9123
  broker-uri: ws://127.0.0.1:9123

rpc:
  - name: arbitrumSepolia
    nodes:
      - https://sepolia-rollup.arbitrum.io/rpc

plugins:
