system:
  log: info
  name: Timeleap

network:
  bind: 0.0.0.0:9123
  brokerUri: ws://localhost:9123

rpc:
  cpus: 100
  gpus: 100

pos:
  rpc:
    - https://sepolia-rollup.arbitrum.io/rpc

plugins:
  - name: swiss.timeleap.isWizard.v1
    endpoint: ws://localhost:3000
    type: websocket
    functions:
      - name: isWizard
        cpu: 1

mongo:
dataframes:
