system:
  log: info
  name: Timeleap

network:
  bind: 0.0.0.0:9123
  brokerUri: ws://localhost:9123

rpc:
  - name: arbitrumSepolia
    nodes:
      - https://sepolia-rollup.arbitrum.io/rpc

mongo:
dataframes:
plugins:
